name: Deploy Vite App to GitHub Pages

# Se déclenche à chaque fois que vous pushez sur la branche 'main'
on:
  push:
    branches: [ "main" ] # Assurez-vous que c'est bien votre branche principale
  pull_request:

# Autorise le workflow à écrire sur la branche 'gh-pages'
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Utilise Node.js version 20
          cache: 'npm'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build
        # Utilise le script 'build' de votre package.json
        run: npm run build 
        env: # <-- AJOUTEZ CES LIGNES
          VITE_SUPABASE_URL: ${{ secrets.VITE_SUPABASE_URL }}
          VITE_SUPABASE_PUBLISHABLE_KEY: ${{ secrets.VITE_SUPABASE_PUBLISHABLE_KEY }}
        
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Le dossier de build par défaut de Vite est 'dist'
          path: './dist' 
          
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
